<div class="container">
  <center><%= image_tag "http://hydra-media.cursecdn.com/lol.gamepedia.com/e/ed/Cloud9x.png", :width => "300px", :height => "300px" %></center>
  <br>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="center">My Inspiration</h3>
        </div>
        <div class="panel-body center">
          <p>I love to code</p>
          <p>I love League of Legends.</p> 
          <p>I love Cloud 9.</p>  
          <p>
          Now that I can actually make stuff on the web, I thought it would be fun to experiment with the Riot, Twitter, and Youtube API 
          to get fast data about my favorite players. If you would like to know more information about each player just click on his face!
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="content">
      <div id="slider">
        <% @players.each.with_index do |player, index| %>
          <div class="img image-<%= index+1 %> player-image player-list">
          <%= link_to player.name, player, {:class => 'btn btn-success city_name', :style => "width: 30%"} %>
              <%= link_to image_tag(player.image), player %>
          </div>
        <% end %>
        <div class="nav previous"></div>
        <div class="nav next"></div>
      </div>
      <div id="dots" style="margin-right: 50px;">
        <ul></ul>
      </div>
    </div>
  </div>
</div>
