<div class="container-fluid">
  <div class="row">
    <h3 style="text-align: center">Is he playing right now on his C9 tag?</h3>
    <h3 style="text-align: center"><%#= @player.get_status %></h3>
    <div class="center-container">
      <div id="search-results">
        <%#= @player.pull_videos.html_safe %>    
      </div>
    </div>
  </div>
  
  <div class="col-md-7">
    <div class="row character">
      <%= render "players/player_stats" %>
    </div>
    <div id="paginator" style="text-align:center;">
      <%= paginate @player_stats %>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <div class="row">
      <p>PlaceHolder</p>
      <%# @player_twitter.each do |tweet| %>
        <%#= tweet.html_safe %>
      <%# end %>
    </div>
  </div>
</div>


